
    <app-header></app-header>
    <div class="game-body">
        <span [innerHTML]="color(sport_name)"></span>
    </div>
    <div class="game-players-list" >
        <div class="player-list" *ngFor="let player of players" routerLink="/player/{{player.player_id}}">
        <div class="player-name">
            <div class="img-wrap">
            <img src="{{player.player_image}}" alt="hi">
            </div>
            <span class="player-name-txt-list" [innerHTML]="color(player.player_name)"></span>
        </div>
    </div>
    </div>
    